table {
    font-family: 'Oswald', sans-serif;
    border-collapse: collapse;
    margin: 5px;
}

th {
    background-color: dodgerblue;
    color: #ffffff;
    height: 75px;
    text-align: left;
    padding: 5px;
}

td {
    background-color: #ffffff;
    height: 50px;
    padding: 5px;
    border: 1px solid lightgray;
}

tr {
    border-bottom: 1px solid #dddddd;
}

tr:last-of-type {
    border-bottom: 2px solid #009879;
}

tr:nth-of-type(even) td {
    background-color: #f3f3f3;
}